* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #888686; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.job-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}


.job-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #e0e0e0;
    font-weight: bold;
    text-transform: uppercase;
}

.job-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.job-item:last-child {
    border-bottom: none;
}

.job-title, .job-company, .job-link {
    flex: 1;
}

.job-link .btn {
    padding: 10px 20px;
    background-color: #b607f6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.job-link .btn:hover {
    background-color: #6b0490;
}

.job-title {
    text-align: left;
}

.job-company {
    text-align: center;
}

.job-link {
    text-align: right;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form button {
    padding: 8px 15px;
    background-color: #b607f6;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.search-form button:hover {
    background-color: #6b0490;
}

.back-to-home {
    margin: 20px 0;
    text-align: center;
}

.btn-back {
    padding: 10px 20px;
    background-color: #b607f6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-back:hover {
    background-color: #6b0490;
}
